In [1]:
import pandas as pd
from mlxtend.frequent_patterns import fpgrowth

In [2]:
df_application_train = pd.read_csv('~/Desktop/proj_data/Kaggle Datasets/application_train.csv')
df_bureau = pd.read_csv('~/Desktop/proj_data/Kaggle Datasets/bureau.csv')
df_bureau_balance = pd.read_csv('~/Desktop/proj_data/Kaggle Datasets/bureau_balance.csv')
df_credit_card_balance = pd.read_csv('~/Desktop/proj_data/Kaggle Datasets/credit_card_balance.csv')
df_installments_payments = pd.read_csv('~/Desktop/proj_data/Kaggle Datasets/installments_payments.csv')
df_POS_CASH_balance = pd.read_csv('~/Desktop/proj_data/Kaggle Datasets/POS_CASH_balance.csv')
df_previous_application = pd.read_csv('~/Desktop/proj_data/Kaggle Datasets/previous_application.csv')
df_data = pd.read_csv('~/Desktop/proj_data/data.csv')

In [4]:
df_data = pd.read_csv('~/Desktop/proj_data/data.csv')

In [ ]:
#len(df_application_train)#head() # 307511
#len(df_bureau) #head() # 1716428
#len(df_bureau_balance)#.head() # 27299925
#len(df_credit_card_balance)#.head() # 3840312
#len(df_installments_payments)#.head() # 13605401
#len(df_POS_CASH_balance)#.head() # 10001358
#len(df_previous_application)#.head() # 1670214

In [5]:
#df_data.values.sort(axis=0)

In [34]:
pd.options.display.max_columns = None
df_data.select_dtypes(include=['object']).describe()

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
count,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511,307511
unique,2,2,2,2,7,8,5,6,6,2,2,2,2,2,2,21,7,2,2,2,2,2,2,58,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
top,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Y,Y,N,Y,N,N,Pensioner,TUESDAY,N,N,N,N,N,N,Business Entity Type 3,N,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
freq,278232,202452,202924,213312,249818,158774,218391,196432,272868,307510,252125,246203,306937,221080,290069,55357,53901,302854,291899,295008,283472,236644,252296,67992,307498,218340,307486,302863,280433,307452,282487,306313,307504,306308,307509,306427,306608,307139,304458,307429,305011,307328,307355,307408

In [6]:
# Keep only categorical data, concatenate with target
df_chars = df_data.select_dtypes(include=['object'])
df_target = df_data['TARGET']
df_char01 = pd.concat([df_target, df_chars], axis=1)

# get dummies for MCA
df_char_encode = pd.get_dummies(df_char01)
df_char_encode.head()

,TARGET,NAME_CONTRACT_TYPE_Cash loans,NAME_CONTRACT_TYPE_Revolving loans,CODE_GENDER_F,CODE_GENDER_M,FLAG_OWN_CAR_N,FLAG_OWN_CAR_Y,FLAG_OWN_REALTY_N,FLAG_OWN_REALTY_Y,NAME_TYPE_SUITE_Children,...,FLAG_DOCUMENT_17_N,FLAG_DOCUMENT_17_Y,FLAG_DOCUMENT_18_N,FLAG_DOCUMENT_18_Y,FLAG_DOCUMENT_19_N,FLAG_DOCUMENT_19_Y,FLAG_DOCUMENT_20_N,FLAG_DOCUMENT_20_Y,FLAG_DOCUMENT_21_N,FLAG_DOCUMENT_21_Y
0,1,1,0,0,1,1,0,0,1,0,...,1,0,1,0,1,0,1,0,1,0
1,0,1,0,1,0,1,0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
2,0,0,1,0,1,0,1,0,1,0,...,1,0,1,0,1,0,1,0,1,0
3,0,1,0,1,0,1,0,0,1,0,...,1,0,1,0,1,0,1,0,1,0
4,0,1,0,0,1,1,0,0,1,0,...,1,0,1,0,1,0,1,0,1,0

In [7]:
import mca
from cleaning import (read_clean_data, impute_data, merge_bureau, merge_previous_application,
merge_POS_CASH, merge_credit_card_balance, merge_installments, downsampling_strategy, reduce_mem_usage)

In [8]:
df_char_encode = reduce_mem_usage(df_char_encode).astype('int8')

Memory usage of dataframe is 58.07 MB
Memory usage after optimization is: 111.73 MB
Decreased by -92.4%

In [9]:
df_char_encode.shape

(307511, 191)

In [ ]:
df_char_encode.dtypes

In [10]:
#df_char_encode['TARGET'] = df_char_encode.TARGET.astype('category')
y = df_char_encode['TARGET']
X = df_char_encode.drop(['TARGET'], axis=1)

In [85]:
pd.options.display.max_columns = None
df_char_encode.head()

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
0,1,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Y,Y,N,Y,Y,N,Laborers,WEDNESDAY,N,N,N,N,N,N,Business Entity Type 3,N,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
1,0,Cash loans,F,N,N,Family,State servant,Higher education,Married,House / apartment,Y,Y,N,Y,Y,N,Core staff,MONDAY,N,N,N,N,N,N,School,N,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
2,0,Revolving loans,M,Y,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Y,Y,Y,Y,Y,N,Laborers,MONDAY,N,N,N,N,N,N,Government,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
3,0,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,Y,Y,N,Y,N,N,Laborers,WEDNESDAY,N,N,N,N,N,N,Business Entity Type 3,N,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
4,0,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Y,Y,N,Y,N,N,Core staff,THURSDAY,N,N,N,N,Y,Y,Religion,N,N,N,N,N,N,Y,N,N,N,N,N,N,N,N,N,N,N,N,N

In [11]:
#*************************************#
#**** Downsampling for Efficiency ****#
#*************************************#

def downsampling_strategy(X, y):
    import numpy as np
    y.columns = ['TARGET']
    X = X.copy(deep=True)
    y = y.copy(deep=True)
    y = y.to_frame(name = 'TARGET')
    random_state = 1
    # balancing the training set
    df = pd.concat([X, y], axis =1)
    defaults = df[df['TARGET'] == 1]
    nominal = df[df['TARGET'] == 0].sample(
        n = np.round(0.5 * (defaults.TARGET.size / 0.5)).astype(int), random_state = random_state)
    # join dataframes and shuffle
    df = pd.concat([defaults, nominal]).sample(frac = 1, random_state = random_state)
    return df

df_downsampled = downsampling_strategy(X, y)

print('Final Data shape: ', df_downsampled.shape,
     'Percent defaults: ', df_downsampled[df_downsampled['TARGET'] == 1].shape[0] / df_downsampled.shape[0])

Final Data shape:  (49650, 191) Percent defaults:  0.5

In [84]:
df_downsampled.head()

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,TARGET
288063,Cash loans,F,N,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,Y,Y,N,Y,N,N,Sales staff,TUESDAY,N,N,N,N,Y,Y,Self-employed,N,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,0
38368,Cash loans,M,N,N,Unaccompanied,Commercial associate,Higher education,Single / not married,With parents,Y,Y,N,Y,N,N,Managers,FRIDAY,N,Y,Y,N,Y,Y,Business Entity Type 1,N,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,N,N,N,0
288794,Cash loans,F,N,Y,Family,Working,Secondary / secondary special,Married,House / apartment,Y,Y,N,Y,N,N,Laborers,SUNDAY,N,N,N,N,Y,Y,Industry: type 11,N,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,1
268563,Cash loans,F,N,Y,Unaccompanied,Working,Higher education,Married,House / apartment,Y,Y,N,Y,N,N,Core staff,WEDNESDAY,N,N,N,N,N,N,Kindergarten,N,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,1
39900,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Y,Y,N,Y,N,N,Security staff,FRIDAY,N,N,N,N,N,N,School,N,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,0

In [52]:
# import re
# df_char_encode01 = df_char_encode[df_char_encode.columns.drop(list(df_char_encode.filter(regex='FLAG_DOCUMENT_21_')))]
# df_char_encode01 = df_downsampled[df_downsampled.columns.drop(list(df_downsampled.filter(regex='FLAG_DOCUMENT')))]

In [55]:
df_char_encode01.shape

(49650, 184)

In [56]:
# attempting MCA with prince instead of mca
import prince

mca = prince.MCA(
    n_components=20,
    n_iter=3,
    copy=True,
    check_input=True,
    engine='auto',
    random_state=42
)
mca = mca.fit(df_chars);

In [ ]:
# DO NOT RUN; this will not run yet, probably not reasonable to use since mca inertia features aren't very translatable for association rules.
# The total inertia is equal to the average number of categories minus one.
ax = mca.plot_coordinates(
    X=df_downsampled,
    ax=None,
    figsize=(6, 6),
    show_row_points=True,
    row_points_size=10,
    show_row_labels=False,
    show_column_points=True,
    column_points_size=30,
    show_column_labels=False,
    legend_n_cols=1
)
ax.get_figure()#.savefig('images/mca_coordinates.svg')

In [15]:
df_downsampled.head()

,NAME_CONTRACT_TYPE_Cash loans,NAME_CONTRACT_TYPE_Revolving loans,CODE_GENDER_F,CODE_GENDER_M,FLAG_OWN_CAR_N,FLAG_OWN_CAR_Y,FLAG_OWN_REALTY_N,FLAG_OWN_REALTY_Y,NAME_TYPE_SUITE_Children,NAME_TYPE_SUITE_Family,...,FLAG_DOCUMENT_17_Y,FLAG_DOCUMENT_18_N,FLAG_DOCUMENT_18_Y,FLAG_DOCUMENT_19_N,FLAG_DOCUMENT_19_Y,FLAG_DOCUMENT_20_N,FLAG_DOCUMENT_20_Y,FLAG_DOCUMENT_21_N,FLAG_DOCUMENT_21_Y,TARGET
288063,1,0,1,0,1,0,0,1,0,0,...,0,1,0,1,0,1,0,1,0,0
38368,1,0,0,1,1,0,1,0,0,0,...,0,0,1,1,0,1,0,1,0,0
288794,1,0,1,0,1,0,0,1,0,1,...,0,1,0,1,0,1,0,1,0,1
268563,1,0,1,0,1,0,0,1,0,0,...,0,1,0,1,0,1,0,1,0,1
39900,1,0,1,0,1,0,0,1,0,0,...,0,1,0,1,0,1,0,1,0,0

In [21]:
df_non_defaulted = df_downsampled[df_downsampled['TARGET'] == 0]
df_defaulted = df_downsampled[df_downsampled['TARGET'] == 1]

In [36]:
df_defaulted.head()

,NAME_CONTRACT_TYPE_Cash loans,NAME_CONTRACT_TYPE_Revolving loans,CODE_GENDER_F,CODE_GENDER_M,FLAG_OWN_CAR_N,FLAG_OWN_CAR_Y,FLAG_OWN_REALTY_N,FLAG_OWN_REALTY_Y,NAME_TYPE_SUITE_Children,NAME_TYPE_SUITE_Family,...,FLAG_DOCUMENT_17_Y,FLAG_DOCUMENT_18_N,FLAG_DOCUMENT_18_Y,FLAG_DOCUMENT_19_N,FLAG_DOCUMENT_19_Y,FLAG_DOCUMENT_20_N,FLAG_DOCUMENT_20_Y,FLAG_DOCUMENT_21_N,FLAG_DOCUMENT_21_Y,TARGET
288794,1,0,1,0,1,0,0,1,0,1,...,0,1,0,1,0,1,0,1,0,1
268563,1,0,1,0,1,0,0,1,0,0,...,0,1,0,1,0,1,0,1,0,1
6863,1,0,1,0,1,0,1,0,0,0,...,0,1,0,1,0,1,0,1,0,1
162010,1,0,1,0,1,0,0,1,0,0,...,0,1,0,1,0,1,0,1,0,1
78029,1,0,0,1,0,1,0,1,0,1,...,0,1,0,1,0,1,0,1,0,1

In [83]:
df_non_defaulted_final = df_non_defaulted.drop(['TARGET'], axis=1)
df_defaulted_final = df_defaulted.drop(['TARGET'], axis=1)

In [85]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(df_non_defaulted_final).transform(df_non_defaulted_final)
df_downcode_non_defaulted = pd.DataFrame(te_ary, columns=te.columns_) # Colnames need to be mapped back to the original one-hot encoded dataframe colnames

te = TransactionEncoder()
te_ary = te.fit(df_defaulted_final).transform(df_defaulted_final)
df_downcode_defaulted = pd.DataFrame(te_ary, columns=te.columns_) # Colnames here also need to be mapped back to the original one-hot encoded dataframe colnames

In [80]:
df_downcode_non_defaulted.head()

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
0,True,False,False,False,False,False,False,False,False,False,...,True,True,False,False,True,False,False,False,False,False
1,True,False,False,False,False,False,False,False,False,False,...,True,True,False,False,True,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [77]:
#df_downcode01 = df_downcode.iloc[:,5:61]

In [140]:
df_downcode02 = df_downcode.head(450) # something to note: there are more items in the set when there are 310 observations instead of 315;
# possibly more samples beyond a certain point, more problems

In [146]:
from mlxtend.frequent_patterns import fpgrowth
fpgrowth(df_downcode02, min_support=0.40)

    support      itemsets
0  0.422222          (38)
1  0.415556          (19)
2  0.408889          (27)
3  0.413333      (19, 38)
4  0.408889      (27, 38)
5  0.402222      (19, 27)
6  0.402222  (19, 27, 38)

In [187]:
from mlxtend.frequent_patterns import fpgrowth
#df_downcode_defaulted03 = df_downcode_defaulted.sample(400) # need to investigate; random samples don't work
df_downcode_defaulted03 = df_downcode_defaulted[0:200]
 # once the colnames get mapped to the original colnames in the TransactionEncoder() process, 'True' will add the itemsets by colnames
fpgrowth(df_downcode_defaulted03, min_support=0.85, use_colnames=True, max_len = None, verbose = None)
# Support is an indication of how frequently the itemset appears in the dataset. Example: 0.42 means the itemset provided occur in at least 42% of all observations

    support      itemsets
0     0.950           (_)
1     0.930           (E)
2     0.920           (N)
3     0.885           (O)
4     0.880           (T)
5     0.880           (A)
6     0.930        (_, E)
7     0.920        (_, N)
8     0.905        (N, E)
9     0.905     (N, _, E)
10    0.885        (_, O)
11    0.865        (O, E)
12    0.860        (O, N)
13    0.865     (O, _, E)
14    0.860     (O, _, N)
15    0.880        (T, E)
16    0.880        (T, _)
17    0.860        (T, N)
18    0.880     (T, _, E)
19    0.860     (T, E, N)
20    0.860     (T, _, N)
21    0.860  (T, E, _, N)
22    0.880        (A, _)
23    0.860        (A, E)
24    0.850        (A, N)
25    0.860     (A, _, E)
26    0.850     (A, _, N)

In [127]:
df_downcode_defaulted03 = df_downcode_defaulted.tail(200)
fpgrowth(df_downcode_defaulted03, min_support=0.1, use_colnames=True, max_len = None)#, verbose = 20)

Empty DataFrame
Columns: [support, itemsets]
Index: []

In [185]:
from mlxtend.frequent_patterns import fpgrowth
pd.options.display.max_rows = None
#df_downcode_defaulted03 = df_downcode_defaulted.sample(400) # need to investigate; random samples don't work
df_downcode_non_defaulted03 = df_downcode_non_defaulted[0:200]
 # once the colnames get mapped to the original colnames in the TransactionEncoder() process, 'True' will add the itemsets by colnames
fpgrowth(df_downcode_non_defaulted03, min_support=0.85, use_colnames=True, max_len = None, verbose=None)
# Support is an indication of how frequently the itemset appears in the dataset. Example: 0.42 means the itemset provided occur in at least 42% of all observations

    support      itemsets
0     0.950           (_)
1     0.930           (E)
2     0.920           (N)
3     0.885           (O)
4     0.880           (T)
5     0.880           (A)
6     0.930        (_, E)
7     0.920        (_, N)
8     0.905        (N, E)
9     0.905     (N, _, E)
10    0.885        (_, O)
11    0.865        (O, E)
12    0.860        (O, N)
13    0.865     (O, _, E)
14    0.860     (O, _, N)
15    0.880        (T, E)
16    0.880        (T, _)
17    0.860        (T, N)
18    0.880     (T, _, E)
19    0.860     (T, E, N)
20    0.860     (T, _, N)
21    0.860  (T, E, _, N)
22    0.880        (A, _)
23    0.860        (A, E)
24    0.850        (A, N)
25    0.860     (A, _, E)
26    0.850     (A, _, N)

In [23]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(df_chars).transform(df_chars)
df_chars = pd.DataFrame(te_ary, columns=te.columns_)

In [131]:
from mlxtend.frequent_patterns import apriori
# Time it takes to run apriori (neat little fact):
%timeit -n 100 -r 10 apriori(df_downcode_defaulted03, min_support=0.6)

1.5 ms Â± 42.8 Âµs per loop (mean Â± std. dev. of 10 runs, 100 loops each)

In [132]:
from mlxtend.frequent_patterns import fpgrowth
# Time it takes to run fp growth (also a neat little fact, which is a reason for choosing fp growth):
%timeit -n 100 -r 10 fpgrowth(df_downcode_defaulted03, min_support=0.6)

1.27 ms Â± 40.2 Âµs per loop (mean Â± std. dev. of 10 runs, 100 loops each)

In [128]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
from mlxtend.frequent_patterns import fpgrowth
fpgrowth(df, min_support=0.8)

   support itemsets
0      1.0      (5)
1      0.8      (3)
2      0.8   (3, 5)

In [83]:
df #looksee the column names are there because the dataframe has a practical (maybe determined in the byte code translation, not sure yet) number of columns.

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [ ]:
#*******************************************************************************************************************************#
#$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ Toolbox of Useful Tricks. $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$#
#*******************************************************************************************************************************#

In [ ]:
#pd.options.display.max_rows = None
#pd.options.display.max_columns = None